<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Coronarivus Homepage</title>
</head>
<body>

<div class="container-fluid">
    <div class="d-flex justify-content-cente">
        <div class="col-xs-4 text-center">
            <button class="btn btn-default">Button</button>
        </div>
        <div class="col-xs-4 text-center">
            <button class="btn btn-default">Button</button>
        </div>
        <div class="col-xs-4 text-center">
            <button class="btn btn-default">Button</button>
        </div>
    </div>
</div>

</body>
</html>